<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="injectionDAO" class="com.imooc.injection.dao.InjectionDAOImpl"></bean>

    <!--<bean id="injectionService" class="com.imooc.injection.service.InjectionServiceImpl">-->
        <!--<property name="injectionDAO" ref="injectionDAO"></property>-->
    <!--</bean>-->

    <bean id="injectionService" class="com.imooc.injection.service.InjectionServiceImpl">
        <constructor-arg name="dao" ref="injectionDAO"></constructor-arg>
    </bean>

</beans>